html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Rubik&family=Whisper&display=swap');

div#head {
    background-image: url('../grafiki/tlo_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100%;
    box-sizing: border-box;
}

ul#navigation > li {
    display: inline;
    margin: 1%;
}

ul#navigation {
    display: inline;
}

ul#logos > li {
    display: inline;
    margin: 1%;
}

ul#logos {
    color: white;
    display: inline;
    position: relative;
    left: 60%;
}

a.navigation {
    text-decoration: none;
    color: white;
    background: none;
    font-size: 150%;
    line-height: 3;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 5px silver;
}

nav > img {
    float: right;
}

a#super_cars {
    text-decoration: none;
    color: white;
    background: none;
    font-size: 200%;
    line-height: 3;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 5px silver;
    padding-left: 5%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 500%;
    text-shadow: 2px 2px 5px silver;
    margin-top: 10%;
    font-family:'Rubik', sans-serif;
}

h3 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

img#loga {
    margin-top: 1%;
    left: 75%;
    position: absolute;
}

footer {
    background-image: url('../grafiki/tlo_1_2.jpg');
    background-size: cover;
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
    color: white;
    padding: 5%;
    text-align: center;
    font-family:'Rubik', sans-serif;
    bottom: 0;
    clear: both;
    font-size: 200%;
}

body {
    background-color: #A30000;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

div#panel_1 {
    background-color: #0c1012;
    color: white;
    width: 48.5%;
    margin: 1% 0.5% 1% 1%;
    padding: 3%;
    box-sizing: border-box;
    float: left;
    height: 150vh;
    overflow: hidden;
}

div#panel_1_main {
    background-color: #0c1012;
    color: white;
    width: 48.5%;
    margin: 1% 0.5% 1% 1%;
    padding: 5% 3% 3% 3%;
    box-sizing: border-box;
    float: left;
    height: 150vh;
    overflow: hidden;
}

div#panel_1 > p {
    text-indent: 7%;
    line-height: 1.25;
    font-size: larger;
}

div#panel_1_main > p {
    text-indent: 7%;
    line-height: 1.25;
    font-size: larger;
}

div#panel_2 {
    background-color: #0c1012;
    color: white;
    width: 48.5%;
    margin: 1% 1% 1vh 0.5%;
    padding: 3%;
    box-sizing: border-box;
    float: left;
    height: 74vh;
    margin-bottom: 1vh;
    overflow: hidden;
}

div#panel_2_2 {
    background-color: #0c1012;
    color: white;
    width: 48.5%;
    margin: 1% 1% 1vh 0.5%;
    padding: 1%;
    box-sizing: border-box;
    float: left;
    height: 74vh;
    margin-bottom: 1vh;
    overflow: hidden;
}

div#panel_2 > p {
    text-indent: 7%;
    line-height: 1.25;
    font-size: larger;
}

div#panel_2_2 > p {
    text-indent: 7%;
    line-height: 1.25;
    font-size: large;
}

div#panel_3_main > p {
    text-indent: 7%;
    line-height: 1.25;
    font-size: large;
}

div#panel_3_main > ol, li {
    list-style: none;
    font-style: italic;
    text-indent: 7%;
    line-height: 1.25;
    font-size: larger;
}

div#panel_3_main {
    background-color: #0c1012;
    margin-top: 1vh;
    color: white;
    width: 48.5%;
    margin: 1vh 1% 1% 0.5%;
    padding: 1%;
    box-sizing: border-box;
    float: left;
    height: 74vh;
}

div#panel_3 {
    background-color: #0c1012;
    margin-top: 1vh;
    color: white;
    width: 48.5%;
    margin: 1vh 1% 1% 0.5%;
    padding: 3% 0 3% 0;
    box-sizing: border-box;
    float: left;
    height: 74vh;
}

div#panel_3 > div > img#obraz_ferrari {
    width: 80%;
    height: 100%;
}

div#panel_3 > div > img#obraz_bugatti {
    width: 80%;
    height: 100%;
}

div#panel_3 > div > img#obraz_porsche {
    width: 80%;
    height: 100%;
}

div#panel_3 > div > img#obraz_lamborghini {
    width: 80%;
    height: 100%;
}

div#panel_3 > div#obraz_m {
    overflow: hidden;
    display: inline;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
}

div#panel_3 > div#a_l {
    float: left;
    height: 100%;
    width: 10%;
    margin: 0;
    padding-top: 30%;
    box-sizing: border-box;}

div#panel_3 > div#a_l:hover {
    float: left;
    height: 100%;
    width: 10%;
    margin: 0;
    padding-top: 30%;
    background-color: #1e2020;
    box-sizing: border-box;
}

div#panel_3 > div#a_r {
    float: right;
    height: 100%;
    width: 10%;
    margin: 0;
    padding-top: 30%;
    box-sizing: border-box;}

div#panel_3 > div#a_r:hover {
    float: right;
    height: 100%;
    width: 10%;
    margin: 0;
    padding-top: 30%;
    background-color: #1e2020;
    box-sizing: border-box;
}

img#regera {
    width: 100%;
}

i {
    font-style: italic;
}

img#logo_l {
    float: left;
    top: 27vh;
    position: absolute;
}

img#logo_r {
    left: 85%;
    top: 27vh;
    position: absolute;
}

img#logo_r_b {
    left: 83%;
    top: 35vh;
    position: absolute;
}

img#logo_l_b {
    float: left;
    top: 35vh;
    position: absolute;
}

img#logo_r_p {
    left: 88%;
    top: 30vh;
    position: absolute;
}

img#logo_l_p {
    right: 88%;
    top: 30vh;
    position: absolute;
}
